<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="mybfpp" class="com.mitix.spring.exp12.MyBeanFactoryPostProcessor">
		<property name="illegals">
			<set>
				<value>nimei</value>
				<value>Haha</value>
				<value>Microsoft</value>
				<value>fUck</value>
			</set>
		</property>
	</bean>
	<bean id="simplebean" class="com.mitix.spring.exp12.SimpleBean">
		<property name="name" value="jemet"></property>
		<property name="password" value="fuck"></property>
		<property name="todos" value="Microsoft"></property>
	</bean>
	
</beans>