<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="message" class="com.mitix.spring.exp11.HelloMessage">
		<property name="messagetext">
			<value>${bean.messagetext}</value>
		</property>
	</bean>
	<bean id="propertyHandler" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>exp11/bean.properties</value>
			</list>
		</property>
	</bean>
</beans>