<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="hello" class="com.mitix.spring.base.exp6.Hello">
	</bean>
	<bean id="bfaware" class="com.mitix.spring.base.exp6.BeanFactoryAwareImpl">
	</bean>
	<bean id="bnaware" class="com.mitix.spring.base.exp6.BeanNameAwareImpl"></bean>
	<bean id="bclaware" class="com.mitix.spring.base.exp6.BeanClassLoaderAwareImpl"></bean>
</beans>